body {
    background-color: #0d1117;
    color: #00ff9d;
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
}

button,
a {
    background-color: #00ff9d;
    color: #0d1117;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.3s;
}

button:hover,
a:hover {
    background-color: #bd0000;
}